{% extends "base.html" %}

{% block title %}Оформление{% endblock %}

{% block content %}
<h1>Форма оформления заказа</h1>
<div class="order-info">
    <h3>Ваш заказ: </h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Товар
            </th>
            <th> шт. </th>
            <th>Сумма</th>
        </tr>
        <tbody>
            {% for item in cart %}
            <tr>
            <td>
                {{ item.product.name }} </td>
                <td>{{ item.quantity }}</td>
                <td><span>{{ item.total_price }}руб.</span></td>
            </td>
            {% endfor %}
        </ul>
        <p>Итого: {{ cart.get_total_price }} руб.</p>
        </tr>
        </tbody>
    </table>
</div>
<form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
</form>
{% endblock %}